PROJECT_NAME=streampipe
APP_ENV=local
SPARK_APP_NAME=streampipe
SPARK_MASTER_URL=spark://localhost:7077
SPARK_UI_URL=http://localhost:8080
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=clickstream.events
CHECKPOINT_DIR=data/checkpoints/clickstream
RAW_TAXI_DATA_DIR=data/raw/nyc_taxi
TAXI_ZONE_LOOKUP_PATH=data/raw/nyc_taxi/reference/taxi_zone_lookup.csv
TAXI_PICKUP_YEAR=2023
PROCESSED_DATA_DIR=data/processed
DELTA_LAKE_DIR=data/processed/delta
DASHBOARD_REFRESH_SECONDS=5
STREAM_OUTPUT_MODE=console
STREAM_TRIGGER_INTERVAL=10 seconds
